* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px; }

h1 {
  color: #912424 !important; }

#bg {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1; }
  #bg img {
    height: 100%; }

#header {
  width: 100%;
  float: left;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.75);
  margin-top: 0;
  color: #fff;
  /*-moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);*/ }
  #header #inner {
    width: 900px;
    margin: auto; }
    #header #inner #nav_menu {
      float: left;
      margin-top: 20px; }
      #header #inner #nav_menu ul {
        float: left;
        list-style-type: none; }
        #header #inner #nav_menu ul li {
          float: left;
          margin-right: 15px;
          cursor: pointer; }
        #header #inner #nav_menu ul li:hover {
          color: #aaa; }
        #header #inner #nav_menu ul .red {
          color: #912424 !important;
          text-shadow: #000 1px 1px 6px; }
    #header #inner #sign_out {
      float: right;
      margin-top: 20px; }
      #header #inner #sign_out a {
        color: #912424;
        text-shadow: #000 1px 1px 6px;
        text-decoration: none; }
    #header #inner .text {
      text-shadow: #000 1px 1px 6px;
      float: left;
      margin-top: 22px; }
      #header #inner .text .normal {
        float: left; }
      #header #inner .text .red {
        text-decoration: underline;
        cursor: pointer;
        text-shadow: none;
        font-weight: 600;
        margin-left: 5px;
        float: left; }
        #header #inner .text .red a {
          color: #912424 !important;
          text-shadow: #000 1px 1px 6px; }
    #header #inner .login {
      float: right;
      margin-top: 20px; }
      #header #inner .login .field {
        float: left;
        margin-top: 2px;
        text-shadow: #000 1px 1px 6px; }
      #header #inner .login .inputs {
        float: left;
        margin: 0 10px;
        -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3); }
        #header #inner .login .inputs input {
          width: 150px;
          height: 15px;
          font-size: 10px !important; }
      #header #inner .login .btn {
        height: 20px;
        float: left;
        -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3); }
        #header #inner .login .btn #session_submit {
          cursor: pointer;
          color: #fff;
          font-size: 10px;
          width: 60px;
          height: 20px;
          border: none;
          background-color: transparent;
          background-image: url(../images/login_off.png);
          background-repeat: no-repeat; }
        #header #inner .login .btn #session_submit:hover {
          background-image: url(../images/login_on.png);
          background-repeat: no-repeat; }

#cont {
  width: 100%;
  float: left;
  height: auto;
  color: #fff; }
  #cont #cont_center {
    margin: auto;
    width: 900px;
    height: auto; }
    #cont #cont_center #right_block {
      float: right;
      width: 400px;
      height: 100%; }
      #cont #cont_center #right_block #videos {
        float: left;
        width: 100%;
        height: 320px;
        padding: 10px;
        moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
        -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
        margin-top: 30px;
        background-color: #fff; }
      #cont #cont_center #right_block #logo {
        float: left;
        width: 100%;
        height: auto;
        margin-top: 20px; }
        #cont #cont_center #right_block #logo img {
          height: 180px;
          float: right; }
    #cont #cont_center #links {
      float: left;
      width: 200px;
      height: 10px;
      margin-top: 30px;
      position: relative; }
      #cont #cont_center #links #title {
        position: absolute;
        top: 0px;
        left: 0;
        font-size: 24px;
        font-weight: 400;
        color: #912424;
        text-transform: uppercase; }
      #cont #cont_center #links .link {
        position: absolute;
        top: 80px;
        left: 0;
        display: none; }
        #cont #cont_center #links .link h1 {
          font-size: 24px;
          font-weight: 400;
          color: #912424;
          text-transform: uppercase; }
      #cont #cont_center #links .link_2 {
        position: absolute;
        top: 80px;
        left: 0;
        display: none;
        width: 100%;
        min-height: 100px;
        background-color: #ccc;
        z-index: 2;
        padding: 10px; }
        #cont #cont_center #links .link_2 h1 {
          font-size: 24px;
          font-weight: 400;
          color: #912424;
          text-transform: uppercase; }
        #cont #cont_center #links .link_2 h2 {
          font-size: 16px;
          font-weight: 400;
          color: #000;
          text-transform: uppercase; }
    #cont #cont_center #body_sample {
      width: 170px;
      height: 500px;
      float: left;
      margin-top: 30px;
      position: relative; }
      #cont #cont_center #body_sample #human {
        position: absolute;
        top: 0px;
        z-index: 0;
        cursor: pointer; }
      #cont #cont_center #body_sample .shadow {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: none; }
      #cont #cont_center #body_sample #upper_body {
        position: absolute;
        top: 0px;
        left: 0;
        width: 170px;
        height: 125px;
        z-index: 3;
        cursor: pointer; }
      #cont #cont_center #body_sample #left_arm {
        position: absolute;
        top: 125px;
        width: 40px;
        height: 160px;
        z-index: 3;
        left: 0;
        cursor: pointer; }
      #cont #cont_center #body_sample #right_arm {
        position: absolute;
        right: 0;
        top: 125px;
        width: 40px;
        height: 160px;
        z-index: 3;
        cursor: pointer; }
      #cont #cont_center #body_sample #lower_body {
        position: absolute;
        right: 40px;
        top: 125px;
        width: 90px;
        height: 100px;
        z-index: 3;
        cursor: pointer; }
      #cont #cont_center #body_sample #legs {
        position: absolute;
        top: 225px;
        width: 170px;
        height: 275px;
        z-index: 2;
        cursor: pointer; }
    #cont #cont_center #signup {
      height: 100%;
      width: 300px;
      margin: auto;
      margin-top: 50px; }
      #cont #cont_center #signup #error_explanation {
        color: #912424 !important; }
      #cont #cont_center #signup h1 {
        font-size: 24px;
        text-align: center;
        width: 100%;
        padding: 20px 20px 0;
        background-color: rgba(0, 0, 0, 0.75); }
      #cont #cont_center #signup h2 {
        font-size: 10px;
        text-align: center;
        width: 100%;
        padding: 5px 20px;
        background-color: rgba(0, 0, 0, 0.75);
        color: #ccc; }
      #cont #cont_center #signup h3 {
        float: left;
        font-size: 10px;
        text-align: right;
        width: 100%;
        padding: 0 20px 20px;
        background-color: rgba(0, 0, 0, 0.75);
        color: #ccc; }
      #cont #cont_center #signup .form {
        height: 280px;
        float: left;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        padding: 0 20px; }
        #cont #cont_center #signup .form .field {
          margin-top: 10px;
          width: 100%;
          height: auto;
          float: left; }
          #cont #cont_center #signup .form .field label {
            width: 105px;
            height: auto;
            float: left;
            margin-top: 3px;
            color: #fff; }
          #cont #cont_center #signup .form .field input {
            margin-left: 5px;
            width: 180px;
            height: auto;
            float: left; }
        #cont #cont_center #signup .form .actions {
          height: 20px;
          width: 100%;
          float: left;
          margin-top: 20px; }
          #cont #cont_center #signup .form .actions .btn {
            height: 20px;
            width: 60px;
            margin: auto;
            -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3); }
            #cont #cont_center #signup .form .actions .btn #user_submit {
              cursor: pointer;
              color: #fff;
              font-size: 10px;
              width: 60px;
              height: 20px;
              border: none;
              background-color: transparent;
              background-image: url(../images/reg_off.png);
              background-repeat: no-repeat; }
            #cont #cont_center #signup .form .actions .btn #user_submit:hover {
              background-image: url(../images/reg_on.png);
              background-repeat: no-repeat; }
    #cont #cont_center #new_user {
      color: #912424 !important; }
    #cont #cont_center #left {
      width: 460px;
      height: 100%;
      float: left; }
      #cont #cont_center #left .logo {
        float: left;
        width: 100%;
        margin-top: 20px; }
      #cont #cont_center #left .info {
        margin-top: 20px;
        float: left;
        width: 100%;
        height: 300px;
        background-color: rgba(0, 0, 0, 0.75); }
    #cont #cont_center .copy {
      float: left;
      width: 400px;
      margin-top: 300px;
      font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
      text-shadow: #000 1px 1px 6px;
      text-align: right; }
      #cont #cont_center .copy .big {
        font-size: 60px; }
      #cont #cont_center .copy .small {
        font-style: italic;
        font-size: 30px; }
    #cont #cont_center .round {
      height: 100%;
      width: 300px;
      margin: auto;
      margin-top: 100px; }
      #cont #cont_center .round .flash {
        width: 100%;
        color: #912424 !important;
        text-align: center;
        margin-bottom: 10px; }
      #cont #cont_center .round h1 {
        font-size: 24px;
        text-align: center;
        width: 100%;
        padding: 20px 20px 0;
        background-color: rgba(0, 0, 0, 0.75); }
      #cont #cont_center .round .form {
        height: 120px;
        float: left;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        padding: 0 20px; }
        #cont #cont_center .round .form .field {
          margin-top: 10px;
          width: 100%;
          height: auto;
          float: left; }
          #cont #cont_center .round .form .field label {
            width: 90px;
            height: auto;
            float: left;
            margin-top: 3px; }
          #cont #cont_center .round .form .field input {
            width: 200px;
            height: auto;
            float: left; }
        #cont #cont_center .round .form .actions {
          height: 20px;
          width: 100%;
          float: left;
          margin-top: 20px; }
          #cont #cont_center .round .form .actions .btn {
            height: 20px;
            width: 60px;
            margin: auto;
            -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3); }
            #cont #cont_center .round .form .actions .btn #session_submit {
              cursor: pointer;
              color: #fff;
              font-size: 10px;
              width: 60px;
              height: 20px;
              border: none;
              background-color: transparent;
              background-image: url(../images/login_off.png);
              background-repeat: no-repeat; }
            #cont #cont_center .round .form .actions .btn #session_submit:hover {
              background-image: url(../images/login_on.png);
              background-repeat: no-repeat; }
      #cont #cont_center .round .sign {
        float: left;
        width: 100%;
        height: 20px;
        padding-top: 10px;
        background-color: rgba(0, 0, 0, 0.75);
        padding: 0 20px 20px; }
        #cont #cont_center .round .sign p {
          text-align: right;
          height: 20px;
          width: 100%; }
          #cont #cont_center .round .sign p a {
            color: #912424 !important; }
