<div id='left'>
	<div class='logo' align='center'><%= image_tag 'logo.png' %></div>
	<div class='info'>
		<h1>Pages#contact</h1>
		<p>Find me in app/views/pages/contact.html.erb</p>
	</div>
</div>

<div class='copy'>
	<span class='big'>Ryan Terry</span>
	</br>
	<span class='small'>Mister International, 2010</div>
</div>
