<div id='left'>
	<div class='logo' align='center'><%= image_tag 'logo.png' %></div>
	<div class='info'>
		<h1>What is it?</h1>
		<ul>
			<li>We would all like to improve our fitness and better our look</li>
			<li>Daily uploaded videos from Ryan Terry (Mister International, 2010) can assist you</li>
			<li>Learn a new exercise each day, tailored to suit a variety of physiques</li>
			<li>Discover all the different environments that can be used to train your body. You don’t always have to be in the gym</li>
			<li>Access to a library of exercises specific to all parts of the body</li>
			<li>Exclusive member benefits (Discount supplements, gym memberships and more)</li>
			<li>Receive dietary advice to achieve your aim</li>
		</ul>
		<h1>How does the referral work?</h1>
		<ul>
			<li>Register using your friend’s referral code for a discount. {You can still register without a referral code}</li>
			<li>When registered you will receive your own referral code to give to your friends</li>
			<li>Profit every month on a recurring basis through sharing your referral code</li>
			<li>Receive $6 per month per person referred</li>
			<li>Additional prizes for the member with the most new referees each month</li>
		</ul>
	</div>
</div>

<div class='copy'>
	<span class='big'>Get Ripped</span>
	</br>
	<span class='small'>Million ways to get fit</div>
</div>
