<div id='benefits'>
	<div id='title'>Member Benefits</div>
	<div id='pics'>
		<div class='pic'>
			<%= image_tag'pic1.jpg' %>
			<div class='overlay'>Benefit 1</div>
		</div>
		<div class='pic'>
			<%= image_tag'pic2.jpg' %>
			<div class='overlay'>Benefit 2</div>
		</div>
		<div class='pic'>
			<%= image_tag'pic1.jpg' %>
			<div class='overlay'>Benefit 3</div>
		</div>
	</div>
</div>